<div class="reporte-ventas-wrapper">
    <div *ngIf="mensajeError" style="color: rgb(255, 0, 0);">
        {{ mensajeError }}
    </div>
    <section class="reporte-ventas-card">
        <header class="reporte-ventas-header">
            <h2>Historial de Recargas de saldo</h2>
        </header>

        <div class="reporte-ventas-scroll">
            <table class="reporte-ventas-table">
                <thead>
                    <tr>
                        <th>Monto</th>
                        <th>Fecha y hora</th>

                    </tr>
                </thead>

                <tbody>
                    <tr *ngFor="let h of historial">
                        <td>{{ h.monto }}</td>
                        <td>{{ h.fecha }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </section>
</div>