<div class="crear-paquetes-page">

    <div>

        <section class="reporte-ventas-card">
            <header class="reporte-ventas-header">
                <h2>Habilidades vinculadas con mi perfil</h2>
            </header>

            <div class="reporte-ventas-scroll">
                <table class="reporte-ventas-table">
                    <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Descripcion</th>
                            <th>Desvincular</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr *ngFor="let h of misHabilidades">
                            <td>{{ h.nombre }}</td>
                            <td>{{h.descripcion}}</td>
                            <td><button (click)="vincularDesvincular(h.id_habilidad,0)">Desvincular</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </section>
    </div>

    <div>
        <section class="reporte-ventas-card">

            <header class="reporte-ventas-header">
                <h2>Habilidades disponibles para vincular</h2>
            </header>

            <div class="reporte-ventas-scroll">
                <table class="reporte-ventas-table">
                    <thead>
                        <tr>
                            <th>Nombre Habilidad</th>
                            <th>Descripcion Habilidad</th>
                            <th>Habilidad Activa</th>
                            <th>--</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr *ngFor="let c of habilidadesDisponibles">
                            <td>{{ c.nombre }}</td>
                            <td>{{ c.descripcion }}</td>
                            <td>{{ c.estado }}</td>
                            <td *ngIf="c.estado"><button (click)="vincularDesvincular(c.id_habilidad,1)">Vincular
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </section>
    </div>

</div>

<app-menu-freelancer></app-menu-freelancer>