<div class="reporte-ventas-wrapper">
    <div *ngIf="mensajeError" style="color: rgb(255, 0, 0);">
        {{ mensajeError }}
    </div>
    <section class="reporte-ventas-card">
        <header class="reporte-ventas-header">
            <h2>Historial de Gastos por Categoria</h2>
        </header>

        <div class="reporte-ventas-scroll">
            <table class="reporte-ventas-table">
                <thead>
                    <tr>
                        <th>Categoria</th>
                        <th>Cantidad de contratos</th>
                        <th>Total Gastado</th>
                    </tr>
                </thead>

                <tbody>
                    <tr *ngFor="let h of historial">
                        <td>{{ h.categoria }}</td>
                        <td>{{ h.cantidad_contratos }}</td>
                        <td>{{ h.total_gastado }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </section>
</div>